<div ng-controller = "simpleController">

	<div class="container" >
		<div class="row" >
			<h4 class="text-center" ng-if="coords">Search random!</h4>
			<h4 class="text-center" ng-hide="coords"> Finding your location...</h4>
			<p class="text-center" ng-hide="coords">
				<img src="../img/477.gif" />
			</p>
			<p class="text-center">
				<button class="btn btn-primary" ng-click="searchBoth()" ng-if="coords">Search Both</button>
				<!-- <button class="btn btn-success" ng-click="advancedMovieSearch = !advancedMovieSearch" ng-show="coords">Advanced  Search</button> -->
				<a href="/#/advanced"><button class="btn btn-success" ng-show="coords">Advanced  Search</button></a>

			</p>


			<div class="row" ng-if="movie">
				<div class="col-md-6">

						<div class="col-md-4">
								<img class="foundImg"  src="{{movie.poster}}" />
								<p> Current Rating:
									{{movie.rating}}
								</p>
						</div>
						<div class="col-md-8" class="movieResults">
							<h3 class="text-center">{{movie.show_title}}</h3>


							<p>
								{{movie.summary}}
							</p>
							<p>
								<a ng-href="https://www.netflix.com/title/{{movie.show_id}}" class="btn btn-danger btn-block">Watch</a>
								<button class="btn btn-info btn-block" ng-click="nextMovie()">Next Result >></button></p>

							</p>
							<p class='text-center'>
	   						<!-- <p ng-if="noMoreFood">You've reached the end of the results. Maybe try the advanced Search?<button class="btn btn-info" ng-click="backFood()">Previous</button> -->
	   						</p>
						</div>

				</div>

				<div class=col-md-6 ng-if='food'>

					<div class="col-md-4">

						<img class='foundImg' src="{{foundFood.image_url}}" />
						<p>
						{{foundFood.rating}}	<img ng-src="{{foundFood.rating_img_url_small}}"
						</p>
					</div>

					<div class="col-md-8 " id="foodResults" >
						<h3 class="text-center">{{foundFood.name}}</h3>

						<p>
							{{foundFood.snippet_text}}
						</p>
						<div class='btn-group btn-group-justified'>
							<a ng-href="{{foundFood.eat24_url}}" class="btn btn-danger">Order Online</a>

						</div>
						 <p class='text-center' >
							<strong>Phone:</strong> {{foundFood.phone}}
						 </p>
						 <p class='text-center'>
							<a ng-href="{{foundFood.url}}">Yelp Page</a>
						 </p>
						 <p class='text-center'>
							 <button class="btn btn-info" ng-click="nextFood()">Next Result >></button></p>
							<p ng-if="noMoreFood">You've reached the end of the results. Maybe try the advanced Search?<button class="btn btn-info" ng-click="backFood()">Previous</button>
							</p>


					</div>

				</div>

			</div>
			<!-- <div class="col-md-6">
				<div class="col-md-8 col-md-offset-4 "> -->
					<!--  open advanced search-->
					<!-- <button class="btn btn-success" ng-click="advanedFoodSearch = !advanedFoodSearch">Advanced Meal Search</button>
				</div>
			</div> -->

		</div>

	<!--bottom half  -->
	<!--  put into a seperate controller, use UIrouter-->

		<!--  end advanced-->
	</div>
	<!-- end body -->
</div>
<!--  end controller-->
