*{
    margin:0;
    padding: 0;
}

.container {
    padding-bottom: 20px;
}

.topImg {
    max-height: 100px;
vertical-align: bottom;}

#banner {
    max-height: 200px;
}

body{
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5 {
    color: white;
}


.foundImg{
    width: 100px;
    margin-top: 80px;
}

#yelpLogo{
    margin-bottom: 20px
}

h1 {
    color: white;
}

a {
    font-size: 24px;
}

.movieResults{
    vertical-align: top;
}
